<html>
    <head>
        <title><%= title %></title>
    </head>
    <body>
        <div>
            <a href="/">Home</a> | 
            <a href="/patient/add">Add New Patient</a> | 
            <a href="/patient">All Patients List</a>
        </div>    
        <h1><%= title %></h1>